.container-requests {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.container-prepare-request {
    margin-bottom: 50px;
}

.container-datetimes {
    margin: 10px auto;
}

.container-datetimes input{
    width: 200px;
}

.container-users, .container-permissions, .container-locations {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
}

.container-edit-users, .container-edit-permissions, .container-edit-locations, .container-edit-requests {
    display: flex;
    flex-direction: row;
}

.container-edit-users form, .container-edit-permissions form, .container-edit-locations form, .container-edit-requests form {
    margin-right: 10px;
}

.container-admin-credentials {
    display: flex;
    flex-direction: column;
}